/* first pic styling */
/* navigation styling */
div.cont1{
  background-color: lightgrey;
  border: 1px solid black;
  background-image: url(ipweek2 pics/#hero-cover.3.png);
  

}
nav{
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
}
ul#nav{
  display: flex;   
}

ul#login{
  display: flex;
}
ul > li > a{
  text-decoration: none;  
}
div.heading{
  text-align: center;
}
div.joinnow{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
div.joinnow > p{
  border: 1px solid black;
  margin: 10px;
  padding: 5px;

}
div.topinfo{
  display: flex;
  justify-content: center;
  margin-left: 10%;
  padding-bottom: 10%;
}

div.topinfo > div{
  margin-right: 5%;
  border: 1px solid black;
  padding: 5%;
  
}

/* second part styling */
div.cont2{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  font-size: small; 
  padding-left: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
}
div.cont2 > div{
  margin-right: 5%;
 
  padding: 5%;
  
}
/* third container styling */
div.cont3{
  border: 1px solid black;  
}

div#industry{
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
}
div.users{
  display: flex;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
}
div.logos{
  margin-left:20%
}
div.logos > img{
  padding: 2%;
}
div.newsletter{
  display: flex;
  /* justify-content: space-between; */
  border: 1px solid black;
  margin-left: 15%;
  margin-right: 15%;
}
/* div#mail{
  display: flex;  
  margin-left: 40%;
  
}
div#mail >p{
  border: 1px solid black;
  padding-right: 1%;
  padding-right: 50%;
} */
div#pricing{
  padding: 5%;
  text-align: center;
  border: 1px solid black;
}
/* pricing design */
div.pricedivs{
  display: flex;
}
/* cont4 styling */
div.cont4{
  display: flex;
}