/* first pic styling */
/* navigation styling */
div.cont1{  
  border: 1px solid black;
  background-image: url('ipweek2 pics/herocover.png');
  background-size: cover;
}
nav{
  color: white;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
}
ul#nav{
  display: flex;   
}

ul#login{
  display: flex;
}
#blue{
  background-color: #23A6F0;
  }
ul > li > a{
  text-decoration: none; 
  color: white; 
  padding: %;  
}

div.heading{
  text-align: center;
  color: white;
}
div.joinnow{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  color: white;
}
div.joinnow > p{
  border: 1px solid white;
  margin: 10px;
  padding: 5px;
  border-radius: 30%;

}
div.topinfo{
  display: flex;
  justify-content: center;
  margin-left: 10%;
  padding-bottom: 10%;
}

div.topinfo > div{
  margin-right: 5%;  
  padding: 5%;  
  text-align: left;
}

div.topinfo > div#white{   
  background-color: white;
}
div.topinfo > div#blue{ 
  background-color: #23A6F0;
}


/* second part styling */
div.cont2{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  font-size: small; 
  /* padding-left: 10%; */
  padding-top: 10%;
  padding-bottom: 10%;
}
div.cont2 > div{
  margin-right: 5%;
  text-align: center;
  border: 1px solid black;
 
  padding: 5%;
  
}
/* third container styling */
div.cont3{
  border: 1px solid black;  
}

div#industry{
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
}
div.users{
  display: flex;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
}
div.users > div{
  margin: 5%;
  border: 1px solid black;
  text-align: center;
}

div.newsletter{
  border: 1px solid black;  
  display: flex;
  justify-content: space-evenly;  
  width: 70%;
  margin: auto;  
}

div.logos{
  display: flex;
  justify-content: center;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 10%;
}

div.logos > img{
  margin: 2%;

}

p#two{
  background-color: #23A6F0;
  padding-right: 20%;  
}
div#mail{  
  display: flex;
  justify-content: space-between;
  
}

div#mail >p{
  border: 1px solid black;
  padding-right: 1%;
  padding-right: 40%;
 
} 
div#pricing{
  padding: 5%;
  text-align: center;
  border: 1px solid black;
}
p#blue{
  background-color: #23A6F0;
}
  
/* pricing design */
div.pricedivs{
  display: flex;
  justify-content: center; 
  text-align: center;  
}
div.pricedivs > div#free , div#premium{  
  margin-top: 5%;
}
div#standard{
  background-color:#252B42 ;
  color: white;
}
div.pricedivs >div{
  border: 1px solid #23A6F0 ;
  padding: 3%;
}
/* cont4 styling */
div.cont4{
  border: 1px solid black;
  background-color: #252B42;}


